body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.question {
    width: 361px;
    height: 221px;
    display: flex;
    flex-direction: column;
    margin: 16px 16px 0 16px;
    box-sizing: border-box;
    padding: 50px 0;
}

.title {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 16px;
}

.content {
    font-size: 32px;
    color: #ffffff;
    line-height: 1.3;
}

.photo {
    width: 361px;
    height: 270.75px;
    display: flex;
    flex-direction: column;
    margin: 10px 16px;
    padding: 20px;
    background-color: #f7f7f1;
    border-radius: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 54px;
    height: 47px;
}

.text {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    margin: 16px 0;
}

.upload {
    cursor: pointer;
    width: 141px;
    height: 39px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #000000;
    font-size: 16px;
    font-weight: 300;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#preview {
    width: 361px;
    height: 270.75px;
    display: none;
    border-radius: 20px;
    position: absolute;
}

.answer {
    width: 361px;
    height: 59px;
    border-radius: 20px;
    background-color: #f7f7f1;
    display: flex;
    margin: 0 16px 21.25px 16px;
    justify-content: center;
    align-items: center;
}

textarea {
    width: 361px;
    height: 59px;
    border-radius: 20px;
    background-color: #ffffff;
    border-width: 0;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 16px 21.25px 16px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    height: 6rem;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.line {
    background-color: #606060;
    width: 393px;
    height: 1px;
}

.nav {
    width: 393px;
    height: 92px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.nav div {
    width: 92.25px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

a {
    text-decoration: none;
}

.nav_text {
    color: #606060;
    margin: 0;
}

.home p {
    color: #ffffff;
}
