body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.date.today.polygon1 {
    background-image: url("../img/mini\ Polygon\ light.png");
    background-size: contain; /* 이미지를 요소에 맞게 조정 */
    background-repeat: no-repeat;
    background-position: center center; /* 이미지를 가운데 정렬 */
    width: 40px; /* 요소의 크기를 설정 */
    height: 40px;
}

.date.today.polygon2 {
    background-image: url("../img/mini\ Polygon.png");
    background-size: contain; /* 이미지를 요소에 맞게 조정 */
    background-repeat: no-repeat;
    background-position: center center; /* 이미지를 가운데 정렬 */
    width: 40px; /* 요소의 크기를 설정 */
    height: 40px;
}

.date.today.polygon3 {
    background-image: url("../img/mini\ Polygon\ dark.png");
    background-size: contain; /* 이미지를 요소에 맞게 조정 */
    background-repeat: no-repeat;
    background-position: center center; /* 이미지를 가운데 정렬 */
    width: 40px; /* 요소의 크기를 설정 */
    height: 40px;
}

.profile {
    width: 361px;
    height: 221px;
    background-color: #f7f7f1;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 16px 16px 0 16px;
}

.pro_container {
    display: flex;
    justify-content: space-between;
}

.pro_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pro_setting {
    width: 21px;
    height: 14px;
    padding: 9px 19.5px;
    color: #b1b1b1;
    font-size: 12px;
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    display: flex;
    text-align: center;
}

.pro_text {
    margin-top: 20px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

.pro_text :last-child {
    font-size: 20px;
    font-weight: 300;
    margin-top: 16px;
}

.walk {
    width: 361px;
    height: 69px;
    margin: 10px 16px;
    display: flex;
}

.walk_check {
    width: 361px;
    height: 151px;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    padding: 20px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.3),
        rgba(153, 153, 153, 0.3)
    );
    border: 1px solid #bebdbb;
    border-radius: 20px;
    box-sizing: border-box;
}

.w_title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.w_content {
    width: 100%;
    height: 9px; /* 막대그래프의 높이 */
    background-color: #c1afff;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
}
.w_progress {
    height: 100%;
    background-color: #805dff;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    transition: width 1s ease; /* width 변경 시 애니메이션 효과 */
}

.w_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

p {
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    margin: 0;
}

.calendar {
    width: 361px;
    height: 356px;
    background-color: #f7f7f1;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 16px;
}

.cal_mon {
    text-align: center;
    font-size: 20px;
}

.cal_days {
    width: 321px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.day {
    width: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 20px;
}

.cal_dates {
    width: 321px;
    height: 228px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 40px;
    flex-flow: row wrap;
    place-items: center;
}

.date {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    position: relative;
}

.info {
    display: flex;
    width: 361px;
    height: 157px;
    margin: 10px 16px;
    justify-content: space-between;
}

.info_health,
.info_walk {
    width: 175px;
    height: 157px;
    display: flex;
}

.user {
    width: 361px;
    height: 134px;
    display: flex;
    flex-direction: column;
    margin: 0 16px 125px 16px;
    padding: 20px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.3),
        rgba(153, 153, 153, 0.3)
    );
    border: 1px solid #bebdbb;
    border-radius: 20px;
    box-sizing: border-box;
}

.u_text {
    color: #ffffff;
    font-size: 20px;
}

.u_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.u_pro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.u_name {
    display: flex;
    color: #ffffff;
    margin-left: 10px;
}

.u_follow {
    width: 42px;
    height: 19px;
    padding: 10px 27.5px;
    color: #b1b1b1;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.line {
    position: fixed;
    top: 751px;
    background-color: #606060;
    width: 393px;
    height: 1px;
}

.nav {
    width: 393px;
    height: 100%;
    position: fixed;
    top: 752px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.nav div {
    width: 92.25px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

a {
    text-decoration: none;
}

.nav_text {
    color: #606060;
    margin: 0;
}

.home p {
    color: #ffffff;
}
