body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.back {
    width: 361px;
    display: flex;
    margin: 16px;
}

.main_title {
    width: 361px;
    font-size: 40px;
    color: #ffffff;
    margin: 130px 16px 50px 16px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listitem {
    width: 361px;
    height: 94px;
    margin: 10px 16px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(223, 242, 100, 0.3));
    border: 1px solid #bebdbb;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

#text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    white-space: pre-line;
}
.navigation {
    height: 93px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.line {
    background-color: #606060;
    width: 393px;
    height: 1px;
}

.nav {
    width: 393px;
    height: 100px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.nav div {
    width: 92.25px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

a {
    text-decoration: none;
}

.nav_text {
    color: #606060;
    margin: 0;
}

.home p {
    color: #ffffff;
}
