body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.back {
    width: 361px;
    display: flex;
    margin: 16px;
}

.title {
    width: 361px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    margin: 50px 16px 0 16px;
    white-space: pre-line;
}

.subtitle {
    width: 361px;
    font-size: 32px;
    color: #ffffff;
    margin: 16px;
}

.date {
    width: 361px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 16px 50px 16px;
}

.img {
    width: 361px;
    height: 270.75px;
    border-radius: 20px;
    margin: 10px 16px;
}

.content {
    width: 361px;
    font-size: 16px;
    color: #ffffff;
    margin: 0 16px;
}

.navigation {
    height: 6rem;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.line {
    background-color: #606060;
    width: 393px;
    height: 1px;
}

.nav {
    width: 393px;
    height: 92px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.nav div {
    width: 92.25px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

a {
    text-decoration: none;
}

.nav_text {
    color: #606060;
    margin: 0;
}

.home p {
    color: #ffffff;
}
