<!-- templates/homeapp/exercise_info_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Info</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>운동 정보</h1>
        </header>
        <section class="exercise-info-section">
            <ul>
                {% for info in infos %}
                    <li>
                         <a href="{% url 'homeapp:exercise_info_detail' info.pk %}">
                        <h2>{{ info.title }}</h2>
                         </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</body>
</html>
