<!-- templates/homeapp/exercise_info_list.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/info_healthList.css' %}" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"
        />
        <title>Beewalk</title>
    </head>
    <body>
        <div class="back">
            <a id="back" href="{% url 'homeapp:home'%}"><img src="{% static 'img/back.png' %}" /></a>
        </div>
        <div class="main_title">📄 운동 정보</div>
        <ul class="list">
            {% for info in infos %}
            <li class="listitem">
                <div class="content">
                    <div id="text">{{ info.title }}</div>
                </div>
                <div class="move">
                    <a id="move" href="{% url 'homeapp:exercise_info_detail' info.pk %}">
                        <img src="{% static 'img/move.png' %}" />
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="navigation">
            <div class="line"></div>
            <div class="nav">
                <div class="home">
                    <a href="{% *url* 'homeapp:home'%}"
                        ><img src="{% static 'img/home_pressed.png'%}" />
                        <p class="nav_text">홈</p>
                    </a>
                </div>
                <div class="history">
                    <a href="{% *url* 'homeapp:home'%}"
                        ><img src="{% static 'img/history.png'%}" />
                        <p class="nav_text">히스토리</p>
                    </a>
                </div>
                <div class="archive">
                    <a href="{% *url* 'homeapp:home'%}"
                        ><img src="{% static 'img/archive.png'%}" />
                        <p class="nav_text">아카이브</p>
                    </a>
                </div>
                <div class="comunity">
                    <a href="{% *url* 'homeapp:home'%}"
                        ><img src="{% static 'img/community.png'%}" />
                        <p class="nav_text">커뮤니티</p>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
