<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/info_health.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <title>Beewalk</title>
</head>
<body>
    <div class="back">
        <a id="back" href="{% url 'homeapp:exercise_info_list' %}"><img src="{% static 'img/back.png' %}"/></a>
    </div>
    <div class="title">{{ info.title }}</div>
    <div class="date">{{ info.created_at|date:"Y.m.d" }}</div>
    {% if info.image %}
    <div class="img"><img src="{{ info.image.url }}" alt="{{ info.title }}" /></div>
    {% endif %}
    <div class="content">{{ info.content }}</div>
    <div class="navigation">
    <div class="line"></div>
        
</body>
</html>
