
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/walk.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <title>Beewalk</title>
</head>
<body>
    <div class="question">
        <div class="title">오늘의 나다움 질문</div>
        <div class="q_content">
            <!--질문-->선호하는 음악 장르는 무엇인가요?
        </div>
    </div>
    <div class="timer">
        <div class="title">스톱워치</div>
        <div class="t_content" id="elapsedTime" style="font-size:48px">00:00:00</div>
    </div>
    <div class="walk">
        <div class="title" id="distance">부르즈칼리파( 0 m)만큼 걸었어요</div>
        <div class="w_content">
            <div class="w_progress" id="w_progressr" style="width: 0"></div>
        </div>
        <div class="w_text">
            <p id="many_distance">다음 목표까지 0 m </p>
            <p id="landmark"><!--물체-->부르즈칼리파(828m)</p>
        </div>
    </div>
    <div class="button">
            <img src="{% static 'img/stop.png'%}" onclick="toggleTracking()" id="trackImage">
                <button id="trackButton" style="display:none"></button>
            </img>
   
    {% if record_id %}
        <!-- 숨겨진 폼: Stop Tracking 버튼을 눌렀을 때 사용 -->
        <form id="walkForm" action="{% url 'countapp:upload_walk_certification' record_id %}" method="get" style="display: none;">
        </form>
        <img src="{% static 'img/done.png'%}" onclick="completeWalking()" style="margin-left:10px">
            <button style="display:none"></button>
        </img>
       
    {% else %}
        <p>기록이 없습니다. 기록을 추가해주세요.</p>
        <button onclick="alert('기록이 없습니다. 기록을 추가해주세요.');" disabled>걷기 완료</button>
    {% endif %}
</div>
</body>
    <script>
        let startTime = null;
        let totalElapsedTime = 0;
        let lastAcceleration = { x: 0, y: 0, z: 0 };
        let distance = 0;
        let tracking = false;
        let intervalID = null;
           window.onload = function() {
            startTracking();
        };
        async function startTracking() {
            if (typeof DeviceMotionEvent !== 'undefined' && typeof DeviceMotionEvent.requestPermission === 'function') {
                try {
                    const permissionState = await DeviceMotionEvent.requestPermission();
                    if (permissionState === 'granted') {
                        window.addEventListener('devicemotion', handleMotionEvent, true);
                        if (!startTime) {
                            startTime = new Date().getTime();
                        }
                        tracking = true;
                        intervalID = setInterval(updateTime, 1000);
                        console.log("Tracking started with permission granted");
                    } else {
                        alert("Permission to use devicemotion was denied.");
                    }
                } catch (error) {
                    console.error("Error requesting DeviceMotionEvent permission:", error);
                }
            } else if (typeof DeviceMotionEvent !== 'undefined') {
                console.log("DeviceMotionEvent supported without explicit permission request");
                window.addEventListener('devicemotion', handleMotionEvent, true);
                if (!startTime) {
                    startTime = new Date().getTime();
                }
                tracking = true;
                intervalID = setInterval(updateTime, 1000);
                console.log("Tracking started without explicit permission request");
            } else {
                alert("DeviceMotionEvent is not supported on your device.");
            }
        }

        function pauseTracking() {
            if (tracking) {
                window.removeEventListener('devicemotion', handleMotionEvent, true);
                tracking = false;
                clearInterval(intervalID);
                totalElapsedTime += (new Date().getTime() - startTime);
                startTime = null;
                console.log("Tracking paused");
            }
        }

        function toggleTracking() {
            if (tracking) {
                pauseTracking();
                document.getElementById('trackButton').innerText = 'Start Tracking';
            } else {
                startTracking();
                document.getElementById('trackButton').innerText = 'Pause Tracking';
            }
        }

         function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function completeWalking() {
            pauseTracking();
            await saveRecord();
            await sleep(1000);  // 대기
            console.log("Tracking stopped");
            document.getElementById('walkForm').submit();
        }

        function handleMotionEvent(event) {
            if (!tracking) return;

            const acceleration = event.accelerationIncludingGravity;
            console.log("Acceleration event: ", acceleration);

            const deltaX = acceleration.x - lastAcceleration.x;
            const deltaY = acceleration.y - lastAcceleration.y;
            const deltaZ = acceleration.z - lastAcceleration.z;

            const delta = Math.sqrt(deltaX * deltaX + deltaY * deltaY + deltaZ * deltaZ);

            // Adjust sensitivity by changing the threshold value
            if (delta > 10) {
                const currentTime = new Date().getTime();
                const timeElapsed = (currentTime - (startTime || currentTime)) / 1000;

                const speed = delta / timeElapsed;
                distance += speed * timeElapsed / 1000;

                document.getElementById('distance').innerText = `부르즈칼리파 (${distance.toFixed(2)} m) 만큼 걸었어요`;
                document.getElementById('many_distance').innerText = `다음 목표까지 ${(828 - distance).toFixed(2)} m`;
                fillProgressBar(distance);

                lastAcceleration = {
                    x: acceleration.x,
                    y: acceleration.y,
                    z: acceleration.z
                };
            }
        }

        function fillProgressBar(distance) {
            let progressBar = document.getElementById("w_progressr");
            let maxWidth = document.querySelector(".w_content").clientWidth; 
            let width = (distance / 828) * maxWidth; 

            width = Math.min(width, maxWidth);

            progressBar.style.width = width + "px";
        }

        function updateTime() {
            if (tracking) {
                const currentTime = new Date().getTime();
                const elapsedTime = totalElapsedTime + (currentTime - startTime);
        
                const hours = Math.floor(elapsedTime / 3600000);
                const minutes = Math.floor((elapsedTime % 3600000) / 60000);
                const seconds = Math.floor((elapsedTime % 60000) / 1000);

                const formattedTime = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
        
                document.getElementById('elapsedTime').innerText = formattedTime;
                console.log(`Elapsed Time: ${formattedTime}`);
            }
        }

        function saveRecord() {
            const csrftoken = getCookie('csrftoken');
            console.log('CSRF Token:', csrftoken);
            console.log('Distance:', distance);

            fetch('/api/walkdata/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    user: {{ request.user.id }},
                    distance: distance,
                    msec: totalElapsedTime,
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>

</html>



