<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/walk_check.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css">
    <title>Beewalk</title>
</head>
<body>
    <div class="answer">
        <div class="title">부르즈칼리파만큼</br>걸었어요!</div>
        <div class="record" id="record">{{ record.distance|floatformat:2 }} m • </div>
        <div class="content">오늘의 나다움 질문에 답변하기 위해</br>먼저 걷기 인증을 해주세요!</div>
    </div>

    <form method="post" enctype="multipart/form-data" action="{% url 'countapp:upload_archive' record.id %}">
        {% csrf_token %}
        <div class="photo">
            <div class="icon"><img src="{% static 'img/upload icon.png'%}"></div>
            <div class="text">걷기 인증 사진을 등록해주세요.</div>
            <div class="upload" onclick="document.getElementById('id_walk_image').click();">이미지 등록하기</div>
        <div style="display:none">{{ form.walk_image }}</div>
        <img id="preview" src="#" alt="Image preview" style="display: none;">
        </div>
        <div class="check">
            <img id="c_img" src="{% static 'img/check_disabled.png' %}" alt="Check Icon" onclick="submitForm()">
            <button type="submit" id="submit_button" style="display:none">
            </button>
        </img>
        </div>
    </form>
    
</body>
    <script>
        const hours = {{ hours }};
        const minutes = {{ minutes }};
        const seconds = {{ seconds }};
        
        function formatTime(hours, minutes, seconds) {
            return `${('0' + hours).slice(-2)}:${('0' + minutes).slice(-2)}:${('0' + seconds).slice(-2)}`;
        }
        
        document.getElementById('record').innerText += formatTime(hours, minutes, seconds);

        function previewImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function () {
                const preview = document.getElementById('preview');
                preview.src = reader.result;
                preview.style.display = 'block';

                const checkImg = document.getElementById('c_img');
                checkImg.src = "{% static 'img/check_enabled.png' %}";
            };
            if (file) {
                reader.readAsDataURL(file);
            }
        }
        
        function submitForm() {
            const preview = document.getElementById('preview');
            if (preview.style.display === 'block') {
                document.getElementById('submit_button').click();
            } else {
                alert('이미지를 먼저 선택해주세요.');
            }
        }

        document.getElementById('id_walk_image').addEventListener('change', previewImage);
    </script>
</html>
